<h1>Show all users</h1>
<%= will_paginate %>
<ul class="users">
<% @users.each do |x| %>
  <li><strong><%= "#{x.name.capitalize}" %></strong>  <%="#{x.email}" %></li>
<%end%>
</ul>
<%= will_paginate %>
